##### Q1. How do you comment code in Python? What are the different types of comments?

single line commnets are done in python using "#" and the multi line comments are done by using """......"""

In [2]:
#this way a single line comment is done
"""
     multi
     line 
     comments
"""

'\n     multi\n     line \n     comments\n'

##### Q2. What are variables in Python? How do you declare and assign values to variables?

variables are thoes which can be declared jus by name from a-z or from A-Z,it can also be started with '_' symbol

In [3]:
variable_name=22
x='abc'        #this is the example

##### Q3. How do you convert one data type to another in Python?

In [8]:
num="23"
new=int(num)

In [9]:
print(new)

23

##### Q4. How do you write and execute a Python script from the command line?

In [14]:
python first_script.py
Hello World!

SyntaxError: invalid syntax (2479451301.py, line 1)

##### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [18]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

##### Q6. What is a complex number in mathematics, and how is it represented in Python?

complex number is expressed num+imaginary part.
eg:3+4j,55j+1
it is represented as a=2+9j

##### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [19]:
age=25

In [20]:
age

25

##### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [21]:
price=9.99
type(price)

float

##### Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [22]:
variable='avadhanam harshitha'
print(variable)

avadhanam harshitha

##### Q10. Given the string "Hello, World!", extract the substring "World".

In [23]:
str='hello,World!'
str[6:12]

'World!'

##### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student=True
is_student